#apresentacao {
  /*se quiser mudar o bg */
  margin-top: 150px;
}
.container-apresentacao {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*TEXTO MANIPULATION*/
.text-ap {
  margin: 0 0 120px 0;
  /*border-left: 1px solid #ff7b00;*/
  
}
.text-ap h1 {
  font-size: 4rem;
  position: relative;
  left: -3px;
}
/*TYPE ANIMATION*/
.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  color: #5f0202;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  letter-spacing: 7px;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 5.6s steps(19) 1s 1 normal both,
    blinkTextCursor 300ms steps(300) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 394px;
  }
  
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #ff7b00;
  }
  to {
    border-right-color: transparent;
  }
}

/*FOTO MANIPULATION*/
.div-foto-ap {
  margin: 0 50px 0 0;
}
.foto-ap {
  padding: 2px;
  background: linear-gradient(560deg, #15151dc9, #1a191da9);
  border-radius: 50%;
  border: 8px double #5f0202;
  filter: blur(0.2px);
}
