.container-contact{
    display: flex;
    justify-content: center;
}

.chave h1{
    font-size: 15rem;
    font-weight: 100;
    color: #520000;
text-shadow: 1px 1px 5px black;
}
.center{
    padding: 100px 0 0 0;
    width: 40%;
    text-align: center;
}
.c1{
    position: relative;
    right: 5px;
}
.center a{
    color: #910404;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  align-items: center;
 
  padding: 0;
}
.infos{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.infos h3{

}
.content{
    text-align: center;
    font-size: 1rem;
    padding: 20px 0 0 0;
}