
.navbar-portifolio {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  

}
/*titulo H1 brand*/
.title h1 {
    margin: 0 0 0 10px;
    font-weight: 900;
    font-size: 2rem;
    padding: 40px 0 0 0;
    cursor: pointer;
}
.title span {
    color:#910404 ;
}
/*links de rolar o scroll automatico */
.links {
  display: flex;
  list-style-type: none;
  margin-right: 30px;
  padding-top: 30px;
}
.links .link-slide {
  padding: 20px 40px;
  text-decoration: none;
  color: #ececec;
  font-weight: 600;
  transition: all .01s;
  border-bottom: 2px solid transparent;
font-size: 1.4rem;
}
.link-slide:hover{
    transition: all .5s;
   /* border-bottom: 1px solid rgb(255, 255, 255);*/
    color: #910404;
  
}
@media(max-width:1040px){
  .navbar-portifolio{
    flex-direction: column;
  }
  .links{
    flex-direction: column;
    align-items: center;
  }
.links .link-slide{
    margin: 10px 0;
    padding: 0 1px;
  }
}