#top-sections {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 80px 0;
}

#top-sections h1 {
  font-size: 4rem;
  border-bottom: 4px solid #f6781f;
  text-shadow: 0 0 30px #fff;
  letter-spacing: 6px;

}