* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#ececec;
}
html{
  scroll-behavior: smooth;
}
body {
 
  background: linear-gradient(180deg, #0a0807,#0a0202,#100701) no-repeat;
  overflow-x: hidden;

}


